.sidebar {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 30vw;
  max-width: 30;
  position: fixed;
  bottom: 0;
  left: -30vw;
  height: 100vh;
  z-index: 1035;
  transition: all 0.5s;

  &.active {
    left: 0 !important;
  }

  .scrollable {
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
