$enable-caret: true;
$enable-gradients: true;
$enable-shadows: true;
$gray-200: #e9ecef;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-900: #212529;
$red: #dc3545;
$primary: $gray-500;
$secondary: $gray-700;
$danger: $red;
$dark: $gray-900;
$light: $gray-200;
$body-bg: $gray-200;

@import './node_modules/bootstrap-scss/bootstrap';

@import './node_modules/ngx-toastr/toastr';

// Common Rules
.btn-transparent {
  background-color: transparent;
}

.clickable {
  cursor: pointer;
}
